<!-------------------------------------
관리자 메인페이지 입니다.
레이아웃이 완성되어도 헤더와 풋터는 삭제되지않는
또 하나의 index 입니다.
-------------------------------------------->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin | 회원정보리스트 | </title>


    <!---membersMap으로 가져와서 변수명 간단하게 새로 지정하게 빨리 일하세요   -->


    <!-------------임포트 부분 ---------------------->
    <!-- Bootstrap tether Core JavaScript -->
    <script type="text/javascript" th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/assets/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/extra-libs/sparkline/sparkline.js}"></script>
    <!--Wave Effects -->
    <script type="text/javascript" th:src="@{/assets/dist/js/waves.js}"></script>
    <!--Menu sidebar -->
    <script type="text/javascript" th:src="@{/dist/js/sidebarmenu.js}"></script>
    <!--Custom JavaScript -->
    <script type="text/javascript" th:src="@{/dist/js/custom.min.js}"></script>
    <!--This page JavaScript -->
    <!-- <script src="dist/js/pages/dashboards/dashboard1.js"></script> -->

    <!-- Charts js Files -->
    <script type="text/javascript" th:src="@{/assets/libs/flot/excanvas.js}"></script>
    <script type="text/javascript" th:src="@{/assets/libs/flot/jquery.flot.js}"></script>
    <script type="text/javascript" th:src="@{/assets/libs/flot/jquery.flot.pie.js}"></script>
    <script type="text/javascript" th:src="@{/assets/libs/flotjquery.flot.time.js}"></script>
    <script type="text/javascript" th:src="@{/assets/libs/flot/jquery.flot.stack.js}"></script>
    <script type="text/javascript" th:src="@{/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js}"></script>
    <script type="text/javascript" th:src="@{/dist/js/pages/chart/chart-page-init.js}"></script>
    <script type="text/javascript" th:src="@{/assets/script/jquery.canvasjs.min.js}"></script>

    <script type="text/javascript" th:src="@{https://canvasjs.com/assets/script/jquery.canvasjs.min.js}"></script>


    <!--  예시로 든거라서 test 용 -->
    <script th:inline="javascript">
        $(document).ready(function () {


            $("#select_order").change(function () {
                if ($(this).val() == "member_code") {//유저코드일 경우
                    location.href = "${contextPath}/member/listMembers.do?action=member_code";
                } else if ($(this).val() == "member_name") {//이름일경우
                    location.href = "${contextPath}/member/listMembers.do?action=member_name";
                } else if ($(this).val() == "member_point") {//포인트일경우
                    location.href = "${contextPath}/member/listMembers.do?action=member_point";
                } else if ($(this).val() == "member_rank") {//등급일경우
                    location.href = "${contextPath}/member/listMembers.do?action=member_rank";
                } else {
                    location.href = "${contextPath}/member/listMembers.do";
                }

            });
        });

    </script>

    <style>
        @media (min-width: 767.98px) {
            .card {
                margin-left: 300px;
                margin-right: 50px;
            }
    </style>


</head>


<body>


<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">


                <div class="chat-box scrollable" style="height:770px;">
                    <!--chat Row -->
                    <ul class="chat-list">
                        <!--chat Row -->
                        <li class="chat-item">
                            <div class="chat-img"><img th:src="@{/static/img/hero/hero1.jpg}" alt="banner"/></div>
                            <div class="chat-content">
                                <h6 class="font-medium">Admin</h6>
                                <th:block
                                        th:if="${isLogOn == true && memberInfo !=null }">
                                    <div class="box bg-light-info">환영합니다
                                        <a href="#" style="color:red;">${memberInfo.member_name }</a>님!
                                    </div>
                                </th:block>

                            </div>

                            <div class="chat-time">10:56 am</div>
                        </li>
                        <!--chat Row -->
                        <li class="chat-item">
                            <div class="chat-img"><img th:src="@{/static/img/hero/hero1.jpg}" alt="banner"/>
                            </div>
                            <div class="chat-content">
                                <h6 class="font-medium">Admin</h6>
                                <th:block
                                        th:if="${isLogOn == true && memberInfo !=null }">
                                    <div class="box bg-light-info">로그아웃 하시겠어요?
                                        <br><a href="${contextPath }/member/memberlogout.do">로그아웃하기</a>
                                    </div>
                                </th:block>

                            </div>
                            <div class="chat-time">10:57 pm</div>
                        </li>
                        <!--chat Row -->
                        <!--    <li class="odd chat-item">
                               <div class="chat-content">
                                   <div class="box bg-light-inverse">이번달 일정 보여줘.</div>
                                   <br>
                               </div>
                           </li> -->
                        <!--chat Row -->
                        <li class="odd chat-item">
                            <div class="chat-content">
                                <div class="box bg-light-inverse">이번달 일정 보여줘.</div>
                                <br>
                            </div>
                            <div class="chat-time">10:59 am</div>
                        </li>

                        <li class="chat-item">
                            <div class="chat-img"><img th:src="@{/static/img/hero/hero1.jpg}" alt="banner"/>
                            </div>
                            <div class="chat-content">
                                <h6 class="font-medium">Admin</h6>

                                <div class="box bg-light-info">이번달 일정 보기</div>
                                <div class="chat-time">10:57 am</div>
                        </li>


                        <!--chat Row -->
                        <li class="odd chat-item">
                            <div class="chat-content">
                                <div class="box bg-light-inverse">클라이언트 페이지로 보여줘.</div>
                                <br>
                            </div>
                            <div class="chat-time">10:59 am</div>
                        </li>

                        <dli class="chat-item">
                            <div class="chat-img"><img th:src="@{/static/img/hero/hero1.jpg}" alt="banner"/>
                            </div>
                            <div class="chat-content">
                                <h6 class="font-medium">Admin</h6>

                                <div class="box bg-light-info">
                                        <a th:href="@{/main/view(id = ${main.id})}">클라이언트 페이지 바로가기</a>
                                </div>
                                <div class="chat-time">10:57 am</div>
                            </div>
                        <!--chat Row -->
                        <!--     <li class="chat-item">
                                <div class="chat-img"><img src="assets/images/users/3.jpg" alt="user"></div>
                                <div class="chat-content">
                                    <h6 class="font-medium">Angelina Rhodes</h6>
                                    <div class="box bg-light-info">Well we have good budget for the project</div>
                                </div>
                                <div class="chat-time">11:00 am</div>
                            </li> -->
                        <!--chat Row -->
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>


</div>


</div>


</body>

<%--
<script type="text/javascript" th:src="@{/resources/assets/libs/jquery/dist/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/dist/js/jquery.ui.touch-punch-improved.js}"></script>
<script type="text/javascript" th:src="@{/resources/dist/js/jquery-ui.min.js}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script type="text/javascript" th:src="@{/resources/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script type="text/javascript" th:src="@{/resources/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/assets/extra-libs/sparkline/sparkline.js}"></script>
<!--Wave Effects -->
<script type="text/javascript" th:src="@{/resources/dist/js/waves.js}"></script>
<!--Menu sidebar -->
<script type="text/javascript" th:src="@{/resources/dist/js/sidebarmenu.js}"></script>
<!--Custom JavaScript -->
<script type="text/javascript" th:src="@{/resources/dist/js/custom.min.js}"></script>
<!-- this page js -->
<script type="text/javascript" th:src="@{/resources/assets/libs/moment/min/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/assets/libs/fullcalendar/dist/fullcalendar.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/dist/dist/js/pages/calendar/cal-init.js}"></script>
--%>
</html>
<!--이거 꼭 넣으주세여여여어  -->
<%--
<script type="text/javascript" th:src="@{/resources/dist/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/assets/libs/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script type="text/javascript" th:src="@{/resources/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/assets/extra-libs/sparkline/sparkline.js}"></script>
<!--Wave Effects -->
<script type="text/javascript" th:src="@{/resources/dist/js/waves.js}"></script>
<!--Menu sidebar -->
<script type="text/javascript" th:src="@{/resources/dist/js/sidebarmenu.js}"></script>
<!--Custom JavaScript -->
<script type="text/javascript" th:src="@{/resources/dist/js/custom.min.js}"></script>
<!--This page JavaScript -->
<!-- <script src="dist/js/pages/dashboards/dashboard1.js"></script> -->
<!-- Charts js Files -->
<script type="text/javascript" th:src="@{/resources/assets/libs/flot/excanvas.js}"></script>
<script type="text/javascript" th:src="@{/resources/assets/libs/flot/jquery.flot.js}"></script>
<script type="text/javascript" th:src="@{/resources/assets/libs/flot/jquery.flot.pie.js}"></script>
<script type="text/javascript" th:src="@{/resources/assets/libs/flot/jquery.flot.time.js}"></script>
<script type="text/javascript" th:src="@{/resources/assets/libs/flot/jquery.flot.stack.js}"></script>
<script type="text/javascript" th:src="@{/resources/assets/libs/flot/jquery.flot.crosshair.js}"></script>
<script type="text/javascript" th:src="@{/resources/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js}"></script>
<script src="${contextPath}/resources/dist/js/pages/chart/chart-page-init.js"></script> --%>