<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

	<th:block th:fragment="content">

	<h1>Board List Page</h1>
            
		<span>
			<a th:href="@{/insertItem}">
				<button type="button" class="btn btn-outline-primary">MODIFY
				</button>
			</a>
		</span>
            
	<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">상품번호</th>
			<th scope="col">상품명</th>
			<th scope="col">상품 카테고리</th>
			<th scope="col">상품 가격</th>
			<th scope="col">배달비</th>
			<th scope="col">상품 정보</th>
			<th scope="col">상품 재고</th>
			<th scope="col">이미지</th>
			<th scope="col">수정</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="dto : ${list.dtoList}">
			<th scope="row">[[${dto.iNumber}]]</th>
			<td>[[${dto.iName}]]</td>
			<td>[[${dto.iCategory}]]</td>
			<td>[[${dto.iPrice}]]</td>
			<td>[[${dto.iDeliveryPrice}]]</td>
			<td>[[${dto.iInfo}]]</td>
			<td>[[${dto.iInstock}]]</td>
			<td><img alt="" th:src="${dto.iImg}"  height="150" width="180"></td>
			<td><a th:href="@{/modify(iNumber = ${dto.iNumber},
			page= ${list.page},
            type=${pageRequestDTO.type} ,
            keyword = ${pageRequestDTO.keyword})}">수정</a></td>
		</tr>
	</tbody>
	</table>
		
		<ul class="pagination h-100 justify-content-center align-items-center">

            <li class="page-item " th:if="${list.prev}">
                <a class="page-link" th:href="@{/adminList(page= ${list.start -1},
                    type=${pageRequestDTO.type} ,
                    keyword = ${pageRequestDTO.keyword} ) }" tabindex="-1">이전 페이지</a>
            </li>

            <li th:class=" 'page-item ' + ${list.page == page?'active':''} " th:each="page: ${list.pageList}">
                <a class="page-link" th:href="@{/adminList(page = ${page} ,
                   type=${pageRequestDTO.type} ,
                   keyword = ${pageRequestDTO.keyword}  )}">
                    [[${page}]]
                </a>
            </li>

            <li class="page-item" th:if="${list.next}">
                <a class="page-link" th:href="@{/adminList(page= ${list.end + 1} ,
                    type=${pageRequestDTO.type} ,
                    keyword = ${pageRequestDTO.keyword} )}">다음 페이지</a>
            </li>

        </ul>



	</th:block>

</th:block>
</html>