<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>파일 업로드 테스트</title>
</head>
<body>
<h2>상품 정보 및 이미지 DB 업로드 테스트 </h2>

<!-- 파일 정보 입력 -->
카테고리 : <input name="iCategory" type="text"><br>
배송비 : <input name="iDeliveryPrice" type="number"><br>
상품 정보 : <input name="iInfo" type="text"><br>
재고 : <input name="iInstock" type="number"><br>
상품명 : <input name="iName" type="text"><br>
상품 가격 : <input name="iPrice" type="number"><br>

<!-- uploadFile -->
<input type="file" id="image" accept="image/*" onchange="setThumbnail(event);" name="uploadFile"/>
<button class="uploadBtn">업로드</button><br>
<div id="image_container"></div><br>

<!-- JQUERY CDN 방식으로 import -->
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous">
</script>

<script type="text/javascript">
 	
 	// 썸네일 이벤트 등록
	function setThumbnail(event) {
		var reader = new FileReader();

		reader.onload = function(event) {
			var img = document.createElement("img");
			img.setAttribute("src", event.target.result);
			document.querySelector("div#image_container").appendChild(img);
   		 };
		reader.readAsDataURL(event.target.files[0]);
	}	// 썸네일 이벤트 등록 끝
 	
 	// 업로드 버튼 이벤트 등록
 	$(".uploadBtn").click(function(){
 		var formData = new FormData();
 		
 	 	var inputFile = $("input[type='file']");
 		var files = inputFile[0].files;
 		
 		// 파일 정보
 		var iCategory = $("input[name='iCategory']").val();
 		var iDeliveryPrice = $("input[name='iDeliveryPrice']").val();
 		var iInfo = $("input[name='iInfo']").val();
 		var iInstock = $("input[name='iInstock']").val();
 		var iName = $("input[name='iName']").val();
 		var iPrice = $("input[name='iPrice']").val();
 		//
 		
 		for(var i = 0; i < files.length; i++){
 			console.log(files[i]);
 			
 			formData.append("uploadFiles", files[i]);
 			formData.append("iCategory", iCategory);
 			formData.append("iDeliveryPrice", iDeliveryPrice);
 			formData.append("iInfo", iInfo);
 			formData.append("iInstock", iInstock);
 			formData.append("iName", iName);
 			formData.append("iPrice", iPrice);

 		}
 		
 		$.ajax({
				url : 'insertItem',
				processData : false,
				contentType : false,
				data : formData,
				type : 'POST',
				dataType : 'json',
				success : function(result){
					console.log(result);
					
				},
				error : function(jqXHR, textStatus, errThrown){
					console.log(errThrown);
				}
				
			})	// ajax의 끝
 	});	// 업로드 이벤트 등록 끝
	
</script>

</body>
</html>