<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
div{
	border: 1px solid red;
}

.a{
	float: left;
}

.b{
	width: 650px;
	height: 144px;
	padding: 5px;
}

li{
	list-style: none;
}

.c{
	clear: both;
	width: 640px;
	padding: 10px;
}

.d{
	width: 660px;
}

.e{
	width: 660px;
}

.f{
	width: 660px;
}

.g{
	width: 660px;
	text-align: center;
}

.submit{
	width: 100px;
}

</style>
</head>
<body>

주문중
<br><br><br>
<div class="a">
<img alt="" src="https://i.imgur.com/2NdyWEX.png"  height="150" width="180">
</div>
<div class="b">
	<li>[[${ordering.iNumber}]]</li>
	<li>[[${ordering.iName}]]</li>
	<li>[[${ordering.iSize}]]사이즈 비어있음</li>
</div>
<div class="c">
배송 주소</br>
<input type="text" size="70" placeholder="도로명 주소..주소 찾는 api 넣으면 좋을 것 같음"><br>
<input type="text" size="70" placeholder="상세 주소"><br>

</div>
<div class="d">
포인트 사용 칸
</div>
<div class="e">
주문정보
</div>
<div class="f">
결제수단..API 넣기 or 장식으로만 구현
</div>
<div class="g">
<input class="submit" type="submit" value="결제하기">
</div>
</body>
</html>